h1{
	color: palegoldenrod;
	font-style: italic;
	text-align: center;
}

p{
	color: lawngreen;
	font-size: 20px;
	font-family: cursive;
	background-color: burlywood;
	margin: 50px;
}
h3{
	background-color: black;
	color: lightcoral;
}
body{
	/*background-color: palegoldenrod;*/
}